.sidebar {
  margin: 0 auto;
  text-align: center;
  img {
    height: 80px;
    width: 80px;
    border-radius: 80px;
  }
}

.copy, .diff {
  margin: 15px;
}

ins {
    background-color: #c6ffc6;
    text-decoration: none;
}

del {
    background-color: #ffc6c6;
}
