#alerts
  //- if(notifications)
  a(href='/notifications') Notifications
    span.badge #{notifications}
  //- if(!notifications)
  //-   a(href='/notifications') Notifications
  //-     span.badge 0
