extends ../shared/template

block content
  div.col-sm-3.col-md-2.sidebar
    include userinfo

  div.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
    h1.page-header Dashboard

    div.add
      h4 Create a Campaign
      include ../campaigns/addCampaign
    div.list
      div#mylist.table-responsive
        table.table.table-striped
          thead
            th Your Campaigns
          tbody
            each campaign in myCampaigns
              tr
                td
                  a(href='/campaigns/#{campaign._id}') #{campaign.name}
          if(myCampaigns == 0)
            tr
              td You haven't created any campaigns!
      div#otherlist.table-responsive
        table.table.table-striped
          thead
            th Others' Campaigns
          tbody
            each campaign in otherCampaigns
              tr
                td
                  a(href='/campaigns/#{campaign._id}') #{campaign.name}
          if(otherCampaigns == 0)
            tr
              td You haven't been invited to any campaigns.
