extends ../shared/template

block content
  h1= title

  div.sidebar
    include userinfo

  div.main
    div.add
      include ../campaigns/addCampaign
    div.list
      if(campaigns)
        ul
          each campaign in campaigns
            li
              a(href='/campaigns/#{campaign._id}') #{campaign.name}
      if(!campaigns)
        p You haven't created any campaigns!
