extends ../shared/template

block content
  div.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
    h1#dashboard.page-header Edit Your Profile

    div.well
      form#editContent.form-horizontal(action='/profile', method='post')
        .form-group
          label.col-sm-2.control-label(for='username') Your Name:
          .col-sm-10
            input#username.form-control(name='name', type='text', placeholder='Your Name', value='#{user.name}')
        .form-group
          label.col-sm-2.control-label Your photo:
          .col-sm-10
            p Unanimous.ly uses Gravatar for user photos. To upload or change yours, #[a(href='http://en.gravatar.com/') visit their website].
        .form-group
          label.col-sm-2.control-label Your e-mail address:
          .col-sm-10
            input#username.form-control(name='email', type='email', placeholder='Your E-mail Address', value='#{user.email}')
            span.help-block Note: Changing your e-mail address will change your Gravatar photo.

        button.btn.btn-default Update

    div.well
      form#resetPassword(action='/reset/#{user._id}', method='post')
        button#resetPassword.btn.btn-primary.btn-lg Reset Your Password

  div.col-sm-3.col-md-2.sidebar
    include userinfo
