doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/signin.css')
    link(href='/less/app.css', rel='stylesheet')

  body
    .container
      h1 Please check your e-mail.
      p You should receive an e-mail shortly with a link to verify your account.
      p
        a(href='/') &laquo; Back to homepage
