doctype html
html
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='http://getbootstrap.com/examples/dashboard/dashboard.css')
    link(href='/less/app.css', rel='stylesheet')

  body
    div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      div.container-fluid
        div.navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          if(title !== 'Unanimously | Write collaboratively.')
            a.navbar-brand(href='/') Unanimously
        div.navbar-collapse.collapse.in
          ul.nav.navbar-nav.navbar-right
            if(!user)
              li
                a(href='/register') Register
              li
                a(href='/login') Login
            if(user)
              if (title !== 'Unanimously | Dashboard')
                li
                  a(href='/dashboard') Dashboard
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | #{user.name}
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='/profile') Edit profile
                    li
                      a(href='#') Change e-mail address
                    li.divider
                    li
                      a(href='/logout') Logout

    div.container-fluid
      div.row
        block content

    script(src='/js/vendor/jquery-2.1.1.js')
    script(src='/js/vendor/lodash-2.4.1.js')
    script(src='/js/vendor/moment-2.6.0.js')
    script(src='/js/vendor/traceur.js')
    script(src='/socket.io/socket.io.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    script(src='/js/es5/main.js')
    script(src='/js/es6/compiled/main.js')
    script(src='/js/es6/compiled/sockets.js')

    block scripts
