div.well
  form#editContent(action='/docs/create', method='post')
    textarea(name='copy', placeholder='Enter Your Copy Here').
      #{docs[0].copy}
    input(name='notes', type='text', placeholder='Notes')
    input(name='projectId', type='hidden', value='#{project._id}')
    input(name='creatorId', type='hidden', value='#{user._id}')
    button Add
