div.well
  form#editContent(action='/docs/create', method='post')
    textarea.form-control(name='copy', rows=3, placeholder='Enter Your Copy Here').
      #{docs[0].copy}
    input.form-control(name='notes', type='text', placeholder='Notes')
    input.form-control(name='projectId', type='hidden', value='#{project._id}')
    input.form-control(name='creatorId', type='hidden', value='#{user._id}')
    button.btn.btn-default Add
