div.well
  form#addCampaign.form-horizontal(action='/campaigns/create', method='post')
    .form-group
      label.col-sm-2.control-label(for='campaignName') Campaign Name:
      .col-sm-10
        input#campaignName.form-control(name='name', type='text', placeholder='Name Your Campaign')
    .form-group
      label.col-sm-2.control-label(for='campaignDescription') Description:
      .col-sm-10
        input#campaignDescription.form-control(name='description', type='text', placeholder='Describe Your Campaign')
    input(name='ownerId', type='hidden', value='#{user._id}')
    .form-group
      .col-sm-offset-2.col-sm-10
        button.btn.btn-default Create a Campaign
